doctype html
html(lang="en")
  head
    title Syndicate
    script(src='js/scripts.js')
    script(src='js/require.js')
    link(rel='stylesheet' type='text/css' href='css/#{theme}/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='css/styles.css')
  body(class='container')
    h3 main
