doctype html
html(lang="en")
  head
    title Syndicate
    script(src='js/scripts.js')
    script(src='js/require.js')
    link(rel='stylesheet' type='text/css' href='css/#{theme}/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='css/styles.css')
  body(class='container')
    div(id='navigation-container')
    div(id='jumbotron-container')    
    div(id='left-sidebar-container')
    div(id='main-content-container')
    div(id='right-sidebar-container')
    div(id='footer-container')
