<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navigation-list" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span></button><a href="#home" class="navbar-brand">Home</a>
    </div>
    <div id="navigation-list" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#stuff">One</a></li>
        <li><a href="#events">Two</a></li>
        <li><a href="#about">Three</a></li>
        <li data-ifnot="loggedIn"><a href="#loginRegister"><i class="fa fa-sign-in"></i><span>Four/Five</span></a></li>
        <li data-if="loggedIn"><a href="#profile">Six</a></li>
        <li data-if="loggedIn"><a href="javascript:void(0);" data-action="logout"><i class="fa fa-sign-out"></i><span>Seven</span></a></li>
      </ul>
    </div>
  </div>
</nav>
