div.container
  div.navbar
    ul
      li
        a(href='#') home
      li
        a(href='#') categories
        ul
          li
            a(href='#') category one
          li
            a(href='#') category two
          li
            a(href='#') category three
      li
        a(herf='#') about
      li
        a(href='#') contact



  div#content-region
